*.log
/backend/config/apikey.txt
/backend/config/gmapi.txt
/backend/app/__pycache__/
/backend/app/features/__pycache__/
/backend/app/services/__pycache__/
/backend/app/config/__pycache__/
/myennv/
/backend/app/embeddings/